[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyterlab = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
scipy = "*"
dynet = "*"
jupyter = "*"
gensim = "*"
mxnet = "*"


[dev-packages]

